<div class="page-wrapper">

  <div class="content container-fluid">

    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Team Detail</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%- urls.admin.dashboard %>">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="<%- urls.admin.teams %>">Teams</a></li>
            <li class="breadcrumb-item">Team Detail</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>

<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap4.min.js"></script>