<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
    <!-- <iisnode watchedFiles="web.config;*.js" debuggingEnabled="false" /> -->
    <handlers>
      <add name="iisnode" path="index.lynx" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- <rule name="RewriteASPX" stopProcessing="true" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
        <rule name="RewriteJS" stopProcessing="true" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.js" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.js" />
        </rule> -->

        <rule name="nodejs">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.lynx" />
        </rule>
        

      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>