<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/morris.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
<body>
  <div class="main-wrapper">
    <%- include("header.ejs") %>
    <%- include("sidebar.ejs") %>
    <%- body %>
  </div>

  <script src="/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/jquery.slimscroll.min.js"></script>
  <script src="/assets/js/morris.min.js"></script>
  <script src="/assets/js/raphael.min.js"></script>
  <script src="/assets/js/chart.js"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>