<div class="notification off" type="">
  <div box>
      <i class="fa fa-exclamation-circle"></i>
      <div class="message"></div>
  </div>
</div>
<link rel="stylesheet" href="/css/notification.css">
<script src="/assets/js/notification.js"></script>