.notification {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 3;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.notification.off {
  bottom: -40px;
}

.notification > div {
  display: flex;
  place-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.notification[type="error"] > div {
  background-color: #f44336;
}

.notification[type="success"] > div {
  background-color: #4caf50;
}

.notification[type="warning"] > div {
  background-color: #ff9800;
}

.notification i {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-right: 5px;
}

.notification .message {
  font-size: 13px;
  color: white;
}