<form name="createJobForm" id="create_job" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Job</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="validationCustom01">Job Name</label>
                                <input ng-model="jobNew.name"
                                       name="input_name"
                                       id="validationCustom01"
                                       class="form-control"
                                       type="text" required>
                                <span class="error-message"
                                      ng-show="createJobForm.input_name.$error.required">Required!</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Customer</label>
                                <input class="form-control"
                                       value="{{jobTemplate.customer.fullname}}"
                                       type="text" disabled="disabled">
                                <!--<select class="form-select" name="create_client">
                                    <option>Global Technologies</option>
                                    <option>Delta Infotech</option>
                                </select>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input class="form-control" type="date" id="exampleInput"
                                       ng-model="jobNew.start_date"
                                       name="input_start_date"
                                       placeholder="yyyy-MM-dd" required/>
                                <div role="alert"><span class="error-message" ng-show="createJobForm.input_start_date.$error.required">Required!</span>
                                    <span class="error-message" ng-show="createJobForm.input_start_date.$error.date">Not a valid date!</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <input ng-model="jobNew.end_date"
                                       name="input_end_date"
                                       class="form-control" type="date" id="exampleInput"
                                       placeholder="yyyy-MM-dd" required/>
                                <div role="alert"><span class="error-message" ng-show="createJobForm.input_end_date.$error.required">Required!</span>
                                    <span class="error-message" ng-show="createJobForm.input_end_date.$error.date">Not a valid date!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="col-sm-3">
                          <div class="form-group">
                            <label>Rate</label>
                            <input placeholder="$50" class="form-control" type="text" name="create_rate">
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label>&nbsp;</label>
                            <select class="form-select" name="create_rateType">
                              <option>Hourly</option>
                              <option>Fixed</option>
                            </select>
                          </div>
                        </div>-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Scope</label>
                                <input ng-model="jobNew.scope_of_work"
                                       name="input_scope"
                                       placeholder="" class="form-control"
                                       type="text" required>
                                <span class="error-message"
                                      ng-show="createJobForm.input_scope.$error.required">Required!</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Priority</label>
                                <select ng-model="jobNew.priority"
                                        name="input_priority"
                                        class="form-select" required>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                                <span class="error-message"
                                      ng-show="createJobForm.input_priority.$error.required">Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Type</label>
                                <input ng-model="jobNew.type"
                                       name="input_type"
                                       placeholder="" class="form-control"
                                       type="text" required>
                                <span class="error-message"
                                      ng-show="createJobForm.input_type.$error.required">Required!</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Project</label>
                                <select ng-model="jobNew.project_id"
                                        ng-change="getJobTemplateByProjectId(jobNew.project_id)"
                                        ng-init="getJobTemplateByProjectId(jobNew.project_id)"
                                        name="input_project"
                                        class="form-select" required>
                                    <option ng-repeat="project in projects" ng-value="project.id">{{project.name}}</option>
                                </select>
                                <span class="error-message"
                                      ng-show="createJobForm.input_project.$error.required">Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Job Leader</label>
                                <!--<input class="form-control" type="text" name="create_jobLeader">-->
                                <select ng-model="jobTemplate.team.leader_id"
                                        name="input_team_leader"
                                        class="form-select" required>
                                    <option ng-repeat="member in jobTemplate.team.members"
                                            value="{{member.firebase_uid}}">{{member.full_name}}
                                    </option>
                                </select>
                                <span class="error-message"
                                      ng-show="createJobForm.input_team_leader.$error.required">Required!</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Leader</label>
                                <div class="project-members">
                                    <a href="#" data-bs-toggle="tooltip"
                                       title="{{getTeamLeader(jobTemplate.team.leader_id).full_name}}" class="avatar">
                                        <!--<img src="/assets/images/profiles/avatar-16.jpg" alt="">-->
                                        <img ng-if="getTeamLeader(jobTemplate.team.leader_id).avatar_url != null"
                                             src="{{getTeamLeader(jobTemplate.team.leader_id).avatar_url}}" alt="">
                                        <img ng-if="getTeamLeader(jobTemplate.team.leader_id).avatar_url == null"
                                             src="/assets/images/user.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Team</label>
                                <!--<select ng-model="jobNew.team_id"
                                        name="input_team"
                                        class="form-select" required>
                                    <option value="High">T1</option>
                                    <option value="Medium">TP2</option>
                                    <option value="Low">T3</option>
                                </select>-->
                                <span class="error-message"
                                      ng-show="createJobForm.input_team.$error.required">Required!</span>
                                <label>Add Team</label>
                                <input ng-model="jobTemplate.team.name"
                                       class="form-control" type="text" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Members</label>
                                <div class="project-members">

                                    <a ng-repeat="member in jobTemplate.team.members track by $index"
                                       ng-if="$index < 3"
                                       href="#" data-bs-toggle="tooltip" title="{{member.full_name}}" class="avatar">
                                        <img ng-if="member.avatar_url != null" src="{{member.avatar_url}}" alt="">
                                        <img ng-if="member.avatar_url == null" src="/assets/images/user.jpg" alt="">
                                    </a>
                                    <span ng-if="jobTemplate.team.members.length > 3" class="all-team">+{{jobTemplate.team.members.length - 3}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <!--<div id="editor"></div>-->
                        <textarea ng-model="jobNew.description"
                                  rows="4" class="form-control"
                                  placeholder="Enter your description here">
                                {{jobNew.description}}
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label>Upload Files</label>
                        <!--<input class="form-control" type="file">-->
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04"
                                   aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
                                Add
                            </button>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary" ng-click="actionCreate()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div ng-if="isLoading"
             class="d-flex justify-content-center
                     ng-scope spinner-loading-popup" style="">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>-->
    </div>
</form>