<form name="editJobForm" id="edit_job" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content position-absolute">
            <div class="modal-header">
                <h5 class="modal-title">Edit Job</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Job Name</label>
                                <input ng-model="jobDetail.name"
                                       name="input_name"
                                       id="validationCustom01"
                                       class="form-control"
                                       type="text" required>
                                <span class="error-message"
                                      ng-show="editJobForm.input_name.$error.required">Required!</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Customer</label>
                                <input class="form-control"
                                       ng-model="jobTemplate.customer.fullname"
                                       type="text" disabled="disabled">
                                <!--<select class="form-select">
                                    <option>Global Technologies</option>
                                    <option>Delta Infotech</option>
                                </select>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input class="form-control" type="date" id="exampleInput"
                                       ng-model="jobDetail.start_date"
                                       name="input_start_date"
                                       placeholder="yyyy-MM-dd" required/>
                                <div role="alert">
                                    <span class="error-message"
                                          ng-show="editJobForm.input_start_date.$error.required">Required!</span>
                                    <span class="error-message" ng-show="editJobForm.input_start_date.$error.date">
                                        Not a valid date!
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <input ng-model="jobDetail.end_date"
                                       name="input_end_date"
                                       class="form-control" type="date" id="exampleInput"
                                       placeholder="yyyy-MM-dd" required/>
                                <div role="alert">
                                    <span class="error-message" ng-show="editJobForm.input_end_date.$error.required">Required!</span>
                                    <span class="error-message" ng-show="editJobForm.input_end_date.$error.date">
                                        Not a valid date!
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Scope</label>
                                <input ng-model="jobDetail.scope_of_work"
                                       name="input_scope"
                                       placeholder="" class="form-control"
                                       type="text" required>
                                <span class="error-message"
                                      ng-show="editJobForm.input_scope.$error.required">Required!</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Priority</label>
                                <select ng-model="jobDetail.priority"
                                        name="input_priority"
                                        class="form-select" required>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                                <span class="error-message"
                                      ng-show="editJobForm.input_priority.$error.required">Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Type</label>
                                <input ng-model="jobDetail.type"
                                       name="input_type"
                                       placeholder="" class="form-control"
                                       type="text" required>
                                <span class="error-message"
                                      ng-show="editJobForm.input_type.$error.required">Required!</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Project</label>
                                <select ng-model="jobDetail.project_id"
                                        name="input_project"
                                        ng-change="getJobTemplateByProjectId(jobDetail.project_id)"
                                        ng-init="getJobTemplateByProjectId(jobDetail.project_id)"
                                        class="form-select" required>
                                    <option ng-repeat="project in projects" ng-value="project.id">{{project.name}}</option>
                                </select>
                                <span class="error-message"
                                      ng-show="editJobForm.input_project.$error.required">Required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Job Leader</label>
                                <!--<input class="form-control" type="text">-->
                                <select ng-model="jobTemplate.team.leader_id"
                                        name="input_team_leader"
                                        class="form-select">
                                    <option ng-repeat="member in jobTemplate.team.members" value="{{member.firebase_uid}}">{{member.full_name}}</option>
                                </select>
                                <span class="error-message"
                                      ng-show="editJobForm.input_team_leader.$error.required">Required!</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Leader</label>
                                <div class="project-members">
                                    <a href="#" data-bs-toggle="tooltip" title="{{getTeamLeader(jobTemplate.team.leader_id).full_name}}" class="avatar">
                                        <!--<img src="/assets/images/profiles/avatar-16.jpg" alt="">-->
                                        <img ng-if="getTeamLeader(jobTemplate.team.leader_id).avatar_url != null" src="{{getTeamLeader(jobTemplate.team.leader_id).avatar_url}}" alt="">
                                        <img ng-if="getTeamLeader(jobTemplate.team.leader_id).avatar_url == null" src="/assets/images/user.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Team</label>
                                <input ng-model="jobTemplate.team.name"
                                       class="form-control"
                                       type="text" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Members</label>
                                <div class="project-members">
                                    <a ng-repeat="member in jobTemplate.team.members track by $index"
                                       ng-if="$index < 3"
                                       href="#" data-bs-toggle="tooltip" title="{{member.full_name}}" class="avatar">
                                        <img ng-if="member.avatar_url != null" src="{{member.avatar_url}}" alt="">
                                        <img ng-if="member.avatar_url == null" src="/assets/images/user.jpg" alt="">
                                    </a>
                                    <span ng-if="jobTemplate.team.members.length > 3" class="all-team">+{{jobTemplate.team.members.length - 3}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea ng-model="jobDetail.description"
                                  rows="4" class="form-control"
                                  placeholder="Enter your description here">
                                {{jobDetail.description}}
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label>Upload Files</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04"
                                   aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
                                Add
                            </button>
                        </div>
                        <!--<input class="form-control" type="file">-->
                    </div>
                    <div class="submit-section">
                        <button ng-click="actionUpdate()" class="btn btn-primary
              submit-btn">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="isLoading"
             class="d-flex justify-content-center
                     ng-scope spinner-loading-popup" style="">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</form>