<div ng-app="skyFields" ng-controller="jobsController" class="page-wrapper">
    <div class="container-fluid position-absolute">
        <job-list></job-list>
        <content job-create-popup></content>
        <job-edit-popup></job-edit-popup>
        <job-delete-popup></job-delete-popup>
    </div>
    <div ng-if="isLoading"
         class="d-flex justify-content-center ng-scope spinner-loading" style="">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<script>
    const task_url = "<%- urls.admin.task %>";
</script>

<link rel="stylesheet" href="/assets/css/fixedColumns.dataTables.min.css">

<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/js/dataTables.buttons.min.js"></script>
<script src="/assets/js/jszip.min.js"></script>
<script src="/assets/js/vfs_fonts.js"></script>
<script src="/assets/js/buttons.html5.min.js"></script>
<script src="/assets/js/dataTables.fixedColumns.min.js"></script>
<script src="/assets/js/ckeditor.js"></script>
<script src="/views/pages/admin/jobs/jobs.js"></script>

<script>
    const url = "<%- urls.admin.jobs %>";
    $(document).ready(function () {
        getFF("<%- urls.admin.jobs %>");
        getSS("<%- urls.admin.jobs %>");
    });
    if ($('.datatable').length > 0) {
        $('.datatable').DataTable({
            "bFilter": false,
        });
    }
</script>