<div><%- title %></div>
<%- include("../components/button.ejs", {value: "Click", _class: "submit_button", action: "/some-action"}) %>
<div id="result"></div>

<script>
  $(".submit_button").click(function () {
    $.ajax({
      url: "/api/testtable",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        id: 1, 
        name: "Test", 
        number: "5"
      }),
      success: function(response) {
        console.log(response.data);
        $("#result").html(JSON.stringify(response.data));
      }
    });
  });
</script>
